*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
ul{
    display: flex;
    align-items: center;  
    gap: 2rem;
    margin-right: 4rem;
    color: black;
}
li{
    list-style: none;
   text-decoration: none;
    font-size:1.5rem;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
   
   color: grey;
   

}
.FIRSTIMG{
    height: 6rem;
    width: 10rem;
}
.barber{
    background-image:url(https://img.freepik.com/free-photo/confident-elegant-businessman-receive-beard-care-from-female-with-nice-manicure_613910-15185.jpg?size=626&ext=jpg&ga=GA1.1.1427256830.1701966642&semt=sph);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 15rem; */
    text-align: center;
    justify-content: center;

  gap: 2rem;
}
h1{
    font-size: 4rem;
}
.para{
    font-size: 1.2rem;
}
.btn{
    padding: 1rem;
    color: white;
    background-color: transparent;
    font-size: 1rem;
    border: 2px solid white;
    cursor: pointer;
}
.card img{
   height: 23rem;
   width: 17rem;
}
.cardrow{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 3rem;
    text-align: center;
   
}

h4{
    font-size: 2rem;
}
p{
 font-size: 1.5rem;
 padding-top: 1rem;
}
.icons{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding-top: 1.5rem;
   
}
.award{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}
.award-wrapper{
    background-color: rgb(108, 239, 196);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
}

.booking{
    border: 1px solid black;
    align-items: center;
}
.same{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

input{
width: 23rem;
padding:12px;

}
input label{
    margin: 5px;
    width: 95%;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1633681926035-ec1ac984418a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNhbG9ufGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 650px;
    height: 40rem;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 20px;
    background-color: rgb(210, 191, 168);
}
h2{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color:white ;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;

}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px 0;

}
.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 10%;
}
.input-box:nth-child(2n){
    justify-content: end;
}
.input-box label{
    width: 95%;
    color: white;
    font-weight: bold;
    margin: 5px 0;

}
.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-left: 0.5rem;

}
.textarea{
    width: 95%;
    color: white;
    font-weight: bold;
    margin: 5px 0;
}
.button-container{
    margin: 15px 0;

}
.button-container button{
    width: 100%;
    margin: auto;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right,#0e080c,white);
}